doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    div.row.navbar.align-center
      div.columns
        a(href='/') Main
      div.columns
        a(href='/login') Login
      div.columns
        a(href='/reg') Register
      div.columns
        a(href='#settings') Settings
      div.columns
        a(href='#exit') Exit
    block content
