//
	Created by timmeno1 on 05.01.2018.

extends layout

block content
	div.custom-container
		div.row
			h1.column Authorization
		form
			div.row
				div.collumn.small-4.medium-2.label email
				div.collumn.small-6.medium-4
					input(type='text' name='email')
			div.row
				div.collumn.small-4.medium-2.label password
				div.collumn.small-6.medium-4
					input(type='password' name='passwd')
			div.row
				div.collumn.small-12.medium-offset-2.small-offset-4
					input(type='submit' value='Enter')
	script.
		var xhr = new XMLHttpRequest()
		$('form').submit(function (event) {
			event.preventDefault();

			var body = {
				email: $('input[name=email]').val(),
				passwd: $('input[name=passwd]').val()
			}

			xhr.open("POST", '/login', true);
			xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
			xhr.send(JSON.stringify(body));
			xhr.onreadystatechange = function () {
				if (xhr.readyState != 4) return;

				if (xhr.status != 200) {
					alert(xhr.status + ': ' + xhr.statusText);
					console.log(body);
				} else {
					window.location.href = '/'
				}
			}

		});