//
	Created by timmeno1 on 05.01.2018.

extends layout

block content
	div.row
		h1.column 1 step registration
	form(return='false' id='reg')
		div.row
			div.collumn.small-4.medium-2.label email
			div.collumn.small-6.medium-4
				input(type='text' name='email')
		div.row
			div.collumn.small-4.medium-2.label password
			div.collumn.small-6.medium-4
				input(type='password' name='passwd')
		div.row
			div.collumn.small-4.medium-2.label first name
			div.collumn.small-6.medium-4
				input(type='text' name='fname')
		div.row
			div.collumn.small-4.medium-2.label second name
			div.collumn.small-6.medium-4
				input(type='text' name='sname')
		div.row
			div.collumn.small-4.medium-2.label birth date
			div.collumn.small-6.medium-4
				input(type='text' name='bdate')
		div.row
			div.collumn.small-12.medium-offset-2.small-offset-4
				input(type='submit' value='Register')

	script.
		var xhr = new XMLHttpRequest()
		$('form').submit(function (event) {
			event.preventDefault();

			var body = {
				email: $('input[name=email]').val(),
				passwd: $('input[name=passwd]').val(),
				fname: $('input[name=fname]').val(),
				sname: $('input[name=sname]').val()
			}

			xhr.open("POST", '/reg', true);
			xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
			xhr.onreadystatechange = function () {
				if (xhr.readyState != 4) return;

				if (xhr.status != 200) {
					alert(xhr.status + ': ' + xhr.statusText);
					console.log(body);
			} else {
					console.log(xhr.responseText)
				}
			}

			xhr.send(JSON.stringify(body));

		});