@import 'foundation-flexgrid.css';

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: rgba(43, 43, 43, 0.87);
  padding:10px;
}

.navbar a {
  display:block;
  padding:5px;
  font-size:16px;
  text-align: center;
}

.custom-container {
  margin-left:20px;
  margin-right:20px;
}


.label {
  text-align:right;
  padding-right:10px;
}

h1 {
  text-align:center;
}